.overlay {
    background-color: rgba(51, 122, 183, 0.88)
}

#loaderDiv {
    display: none;
}

.form-control {
    width: 69%;
    height: 52px;
    font-size: 24px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#passCodeLoginButton {
    width: 50%;
    background-color: #4285F4;
    color: #fff;
    font-size: 25px;
    border: 1px solid #fff;
    font-weight: 600;
}

#contactError,
#errorMessage,
#customerNotFoundMessage {
    display: none;
}