#headerDiv{margin:0px;}
#leftSubHeader{padding: 0px;}
#rightSubHeader{padding: 0px;text-align: right;}
#settingButton{width: 200px;padding: 0px;height: 10px;border-radius:0px;   margin-top: -11px;background: firebrick;}
#customerLogo{width: 180px;position: absolute;padding: 15px 13px;}
#piLogo{margin: -17px 0px;margin-bottom:0px;width: 170px;}
#helpIcon{margin: 10px 19px;}
#userMenu{position: absolute;
    background: #a5e9e0;
    right: 18px;
    z-index: 99;
    font-size: 19px;
    font-weight: 600;}
.userMenuOption{margin: 0px;padding: 17px 20px;cursor: pointer;width: 275px;font-size: 25px;color: #fff;height: 100%;}
.question{text-align: justify;
    font-size: 25px;
    color: brown;
    padding: 5px 0px;}
.answer{    font-size: 23px;
    color: green;
    text-align: justify;}
.overlay a{font-size: 23px}
.overlay-content{top: 7%}
#needAssistanceButton{background: orange}
#faqButton{background: blue}
#FAQContainer,#AssistanceMessage{padding: 0px 20px;z-index: 999}
#closebtn{font-size: 88px;color: red;}
.container{padding: 0px}
#FAQHeader{background: white;padding: 15px;margin-bottom: 2px}
#FAQmodalContainer{background: white;max-height: 518px;overflow-y: scroll;}
ul{list-style: none;}
#Assistance-Overlay-Content{color: #fff;top: 15%}
#Assistance-Message-1{font-size: 62px;}
#Assistance-Message-2{font-size: 38px;}