<p style="text-align: center;font-size: 50px;margin-top: 10%" class="animate-fade1">Fetching Details</p>
<div id="fountainG" style="margin-top: 5%;" class="animate-fade2">
  <div id="fountainG_1" class="fountainG"></div>
  <div id="fountainG_2" class="fountainG"></div>
  <div id="fountainG_3" class="fountainG"></div>
  <div id="fountainG_4" class="fountainG"></div>
  <div id="fountainG_5" class="fountainG"></div>
  <div id="fountainG_6" class="fountainG"></div>
  <div id="fountainG_7" class="fountainG"></div>
  <div id="fountainG_8" class="fountainG"></div>
</div>
