#backgroundOpacityInnerDiv{position:absolute;top: 0;bottom: 50%;left: 0px;right: 0;opacity:0.8;background:#fff;right:0px;z-index:-9999;border-top-right-radius:19px;border-top-left-radius:19px;}
#noFavProductDiv{display:none;}
#ratingSpan{background:green;color: #fff;padding: 2px 5px;font-weight: 600;}
#productCostValue{color: green;font-size: 22px;font-weight: 600;}
div.scrollSize{max-width: 100%;border:none;padding: 8px 0px;margin-top: 11px;}
.thumbnail{width: 171px;height:213px;}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{border:none;}
.fa{font-size: 20px!important;}